@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Outfit', sans-serif;
}

.react-multiple-carousel__arrow{
  z-index: 10 !important;
}



.soldOutcode{
  background-image: url(https://w7.pngwing.com/pngs/568/351/png-transparent-computer-icons-sold-out-miscellaneous-text-logo.png);
}